body {
  margin: 5px;
}
H2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inner-tab{
  margin: 5px;
}

.scroll {
  cursor: all-scroll;
}

button {
  background-color: #850491 !important;
}

.nav-main {
  background-color: #850491;
}


div.progress-bar.progress-bar-striped.progress-bar-animated{
  background-color: #850491;
}

table {
  margin-top: 10px;
}

.cy {
    width: 100%;
    height: 1000px;
    position: absolute;
    z-index: 1000;
}

.recipe-graph {
  width: 90%;
  height: 1000px;
  position: relative;
  background-color: white;
  border: medium solid #efefef;
}
