body {
  margin: 5px;
}
H2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inner-tab{
  margin: 5px;
}

.scroll {
  cursor: all-scroll;
}

button {
  background-color: #850491 !important;
}

.nav-main {
  background-color: #850491;
}

#dataset {
  width: 100%
}


div.progress-bar.progress-bar-striped.progress-bar-animated{
  background-color: #850491;
}

table {
  margin-top: 10px;
}

.button-right{
  text-align: right;
}

.edge-delete {
  margin-left: 20px;
}

.cy {
    width: 100%;
    height: 100%;
    position: absolute;
}

.recipe-graph {
  height: 750px;
  position: relative;
  background-color: white;
  border: medium solid #efefef;
}

.layer-info{
  border: medium solid #efefef;
  height: 500px;
}
